.product-grid {
  width: 60%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
}

.product-pod-wrapper {
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  width: 26%;
  display: inline-block; 
}